@model MarketingHub.Models.MarketingAgency

@{
    ViewData["Title"] = "Marketing Agency Details";
}
<style>

    body {
        background-image: url('https://convertingcolors.com/radial-008374.svg'); /* Set the background image of the page */
        background-size: cover; /* Cover the entire background */
        background-repeat: no-repeat; /* Do not repeat the background image */
    }

    .profile .profile-card img {
        max-width: 120px;
    }

    .profile .profile-card h2 {
        font-size: 24px;
        font-weight: 700;
        color: #2c384e;
        margin: 10px 0 0 0;
    }

    .profile .profile-card h3 {
        font-size: 18px;
    }

    .profile .profile-card .social-links a {
        font-size: 20px;
        display: inline-block;
        color: #008080;
        line-height: 0;
        margin-right: 10px;
        transition: 0.3s;
    }

        .profile .profile-card .social-links a:hover {
            color: #008080;
        }

    .profile .profile-overview .row {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .profile .profile-overview .card-title {
        color: #008080;
    }

    .profile .profile-overview .label {
        font-weight: 600;
        color: #008080;
    }

    .profile .profile-edit label {
        font-weight: 600;
        color: #008080;
    }

    .profile .profile-edit img {
        max-width: 120px;
    }

    .btn {
        margin-top: 10px;
        margin-right: 5px;
        font-size: 16px;
        padding: 10px 20px;
        background-color: #008080;
        color: #fff;
        border: 2px solid #008080;
        border-radius: 25px;
        transition: all 0.3s ease;
    }


        .btn:hover {
            background-color: #fff;
            color: #008080;
        }

</style>
<br />
<div class="pagetitle">
    <h2 style="color: var(--color-primary);">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Back<span style="color: #fd5f00;">Ground</span>
    </h2>
</div>

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    <img src="@Model.ImageUrl" alt="Profile" class="rounded-circle">
                    <h2>@Model.Username</h2>
                    <div class="social-links mt-2">
                        <a href="@Model.Twitter" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="@Model.Facebook" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="@Model.Instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="@Model.LinkedIn" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="MarketingAgency" asp-action="EditProfile" asp-route-id="@Model.MarketingAgencyId" class="btn btn-primary">Edit Profile</a>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <h5 class="card-title">About</h5>
                            <p class="small fst-italic">@Model.Description</p>

                            <h5 class="card-title">Profile Details</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">User Name</div>
                                <div class="col-lg-9 col-md-8">@Model.Username</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <link href="#" class="col-lg-9 col-md-8">@Model.Email</link>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Salary</div>
                                <div class="col-lg-9 col-md-8">@Model.Salary</div>

                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Location</div>
                                <div class="col-lg-9 col-md-8">

                                    <a asp-controller="MarketingAgency" asp-action="ViewLocation" asp-route-id="@Model.LocationId" class="btn btn-primary">View Location</a>

                                </div>
                            </div>


                        </div>
                    </div>
                    <a asp-controller="MarketingAgency" asp-action="Portfolio" asp-route-id="@Model.MarketingAgencyId" class="btn btn-primary">View Posts</a>

                </div>
            </div>
        </div>
    </div>
</section>
<a asp-controller="MarketingAgency" asp-action="Index" class="btn btn-primary">Back to Agencies</a>


